:root {

}

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200..1000&display=swap');

@font-face {
    font-family: Freight;
    src: url("../res/fonts/FreightBigProMedium-Regular.woff") format("woff");
}

html {
    font-family: Mulish, Helvetica, sans-serif;
    font-size: 1rem;
}

body {
    font-family: Mulish, Helvetica, sans-serif;
}

img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Freight, 'Times New Roman', Times, serif;
}

.btn {
    border-radius: 500px;
    border: 1px solid black;
    color: black;
    text-transform: uppercase;
    white-space: nowrap;
    max-height: 2.5rem;
}

.btn-primary {
    background-color: black;
    color: white;
}

.title {
    font-size: 8rem;
    line-height: 8rem;
}

.subtitle {
    font-size: 6rem;
}

.subsubtitle {
    font-size: 4rem;
}

a {
    text-decoration: inherit;
    color: inherit;
}

a:hover {
    color: inherit;
}

.beige-section {
    background-color: #F3F1EE;
}

.py-6 {
 padding: 8rem 0;
}

footer input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
}

/* HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    position: sticky;
}

nav {
    font-family: Freight, 'Times New Roman', Times, serif;
    display: flex;
    gap: 40px;
    font-size: 1.5rem;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    text-decoration: underline;
    color: black;
}

.close-menu-icon {
    display: none;
}

/* FOOTER */

footer {
    background-color: black;
    color: white;
    padding: 5rem 5rem 2rem 5rem;
    display: flex;
}

.footer-pages {
    display: flex;
    max-width: 1000px;
}

footer h2, footer h4 {
    font-family: Freight, 'Times New Roman', Times, serif;
}

/* HOME */

.initial-home-imagetext {
    max-width: 65vw;
}

.beige-section {
    background-color: #F3F1EE;
}

.explore-items h1 {
    font-size: 8rem;
}

.explore-items h1:hover {
    text-decoration: underline;
    text-decoration-thickness: 5px;
    cursor: pointer;
}

.hero-img, .collection-img, .popular-img, .explore-img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .explore-items h1 {
      font-size: 4rem;
    }

    .title {
        font-size: 6rem;
        line-height: 6rem;
        text-align: center;
    }
    
    .subtitle {
        font-size: 4rem;
    }
    
    .subsubtitle {
        font-size: 2rem;
    }

    .py-6 {
        padding: 4rem 1rem;
    }
}

@media (max-width: 980px) {
    .custom-collapsed-navbar {
        flex-direction: column;
        align-items: center;
        justify-content: center !important;
        position: absolute;
        right: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        color: white;
        background-color: black;
    }
    
    .navbar-collapse a {
        color: white;
        font-size: 4rem;
    }
    
    .close-menu-icon {
        background-color: transparent;
        border: none;
        display: inline-block;
    }

    .explore-items {
        text-align: center;
        width: 100%;
    }

    .smallscreen-displaynone {
        display: none;
    }
}

/* PRODUCT DETAIL */

.productdetail-label {
    text-transform: uppercase;
    color: gray;
    font-weight: 600;
    margin-right: 10px;
}

/* BREAKPOINTS */