:root {

}

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200..1000&display=swap');

@font-face {
    font-family: Freight;
    src: url("../res/fonts/FreightBigProMedium-Regular.woff") format("woff");
}


html {
    font-family: Mulish, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    font-family: Mulish, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Freight, 'Times New Roman', Times, serif;
}

.btn {
    border-radius: 500px;
    border: 1px solid black;
    color: black;
    text-transform: uppercase;
    white-space: nowrap;
    max-height: 40px;
}

.title {
    font-size: 156px;
}

.subtitle {
    font-size: 96px;
}


/* HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 35px 240px;
    position: sticky;
}

nav {
    font-family: Freight, 'Times New Roman', Times, serif;
    display: flex;
    gap: 40px;
    font-size: 24px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    text-decoration: underline;
    color: black;
}

/* FOOTER */

footer {
    background-color: black;
    color: white;
    padding: 65px 80px;
    display: flex;
    gap: 80px;
}

.footer-pages {
    display: flex;
}

footer h2, footer h4 {
    font-family: Freight, 'Times New Roman', Times, serif;
}

/* HOME */

section {
    padding: 120px 240px;
}

main section:first-child > div {
    max-width: 65vw;
    gap: 50px;
}

.beige-section {
    background-color: #F3F1EE;
}